* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
}

div#options-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #1b1b1b;
    color: #cacaca;
    z-index: -1;
}

div#options-content {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

div#options-content:hover {
    background-color: #3b3b3b;
    color: #cac4ca;
}

div#options-content span {
    margin: 50px;
}